<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.16/dist/jquery.flip.min.js"></script>
    <script src="/lib/chartjs/chart.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/ngDraggable/ngDraggable.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/js-data/dist/js-data.min.js"></script>
    <script src="/js-data-angular/dist/js-data-angular.min.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>
</html>
