<section>
<div id="gameboard">
  <div id="opponent">
    <h3 style="position:absolute; text-align: left;">{{opponent.name | uppercase}}<br>
      <small style="color: #777;" popover="your opponent has {{opponent.mana}} mana and {{opponent.hp}} health points" popover-trigger="mouseenter" popover-placement="right">HP: {{opponent.hp}}<br>Mana: {{opponent.mana}}</small>
    </h3>
    <div class="player-info" popover="attack user to reduce health" popover-trigger="mouseenter" popover-placement="right">
      <player player="opponent" ng-drop="player.selecting || opponent.attackable && player.turn" ng-drop-success="select({selector: $data, selectee: null}, $event)"></player>
    </div>
    <div class="hand">
      <blank-card class="opponent-card hand-card small" ng-repeat="card in opponent.hand" card="card"></blank-card>
    </div>
    <div class="extra">
      <span style="position: absolute;">
        <div ng-show="enlarge" align="right" class="pull-right" style="position: absolute;">
          <card card="enlarge"></card>
          <span class="description-box"><p class="absolute-name binding">{{enlargedDescription}}</p></span>
        </div>
      </span>
    </div>
  </div>

    <div>
      <h3 style="text-align: left">
        <strong class="pull-right" style="position:absolute; float: left">{{player.message}}</p></strong>
      </h3>
    </div>

  <div id="table" ng-drop="player.turn">
    <div id="opponent-summoned">
      <div ng-repeat="minion in opponent.summonedMinions" ng-mouseenter="enlargeCard(minion); describeAbilities(minion)" ng-mouseleave="enlargeCard(); describeAbilities();">
        <minion ng-repeat="minion in opponent.summonedMinions" minion="minion" ng-drop="player.selecting || minion.attackable && player.turn" ng-drop-success="select({selector: $data, selectee: minion})"></minion>
      </div>
    </div>
    <div id="summoned">
      <div ng-repeat="minion in player.summonedMinions" ng-mouseenter="enlargeCard(minion); describeAbilities(minion)" ng-mouseleave="enlargeCard(); describeAbilities();">
        <minion minion="minion" value="minion" ng-drop="player.selecting" ng-drag-data="minion" 
        ng-drag="minion.canAttack && player.turn" ng-drop-success="select({selector: $data, selectee: minion})"></minion>
      </div>
    </div>
  </div>
f
  <div id="player">
    <div class="player-info">
      <selector ng-drag="player.selecting" ng-drag-data="" popover="drag to cast spell" popover-trigger="mouseenter" popover-placement="right"></selector>
      <player player="player" ng-drop="player.selecting" ng-drop-success="select({selector: $data, selectee: 'self'})" popover="you have {{player.hp}} health points" popover-trigger="mouseenter" popover-placement="right"></player>
    </div>
    
    <div class="hand">
      <div ng-repeat="card in player.hand" ng-mouseenter="enlargeCard(card); describeAbilities(card)" ng-mouseleave="enlargeCard(); describeAbilities()">
        <card class="hand-card small" card="card" value="card"
        ng-drag-data="card" ng-drag="player.turn && card.cost <= player.mana" ng-drag-success="summon($data, $event)">
      </card>
    </div>
    </div>
    <div class="extra">
      <div><h3><strong popover="you have {{player.mana}} mana" popover-trigger="mouseenter" popover-placement="above">
        <small >{{player.mana}} MANA</small></h3></div>
      <button class="btn-success" ng-click="endTurn()" ng-show="player.turn">End Turn</button>
      <button class="btn-success" ng-click='leave()'>Leave game</button>
    </div>
  </div>
</div>
</section>
