<section>
<p>Game!</p>
<div id="gameboard">
  <div id="opponent">
    <div class="player">Opponent: {{ opponent }}</div>
    <div class="opponent-hand hand">
      <blank-card class="opponent-card" ng-repeat="card in opponentCards" card='card'></blank-card>
    </div>
  </div>
  <div id="table"></div>
  <div id="player">
    <div class="player">Player: {{ player }}</div>
    <div class="hand">
      <card class="hand-card" ng-repeat="card in testCards" card='card'></card>
    </div>
  </div>
</div>
<button ng-click='leave()'>Leave game</button>
</section>
<div>{{ message }}</div>
