<section>
<div id="gameboard">
  <div id="opponent">
    <div class="player-info">
      <player player="opponent" ng-drop="player.selecting || opponent.attackable && player.turn" ng-drop-success="select({selector: $data, selectee: null}, $event)"></player>
    </div>
    <div class="hand">
      <blank-card class="opponent-card hand-card small" ng-repeat="card in opponent.hand" card="card"></blank-card>
    </div>
    <div class="extra">
      <strong>Mana: {{ opponent.mana }}</strong>
    </div>
  </div>
  <div id="table" ng-drop="player.turn">
    <div id="opponent-summoned">
      <minion ng-repeat="minion in opponent.summonedMinions" minion="minion" ng-drop="player.selecting || minion.attackable && player.turn" ng-drop-success="select({selector: $data, selectee: minion})"></minion>
    </div>
    <h3><strong class="pull-left">{{ player.message }}</strong></h3>

    <div id="summoned">
      <minion ng-repeat="minion in player.summonedMinions" minion="minion" ng-drop="player.selecting" ng-drag-data="minion" ng-drag="minion.canAttack && player.turn" ng-drop-success="select({selector: $data, selectee: minion})"></minion>
    </div>
  </div>
  <div id="player">
    <div class="player-info">
      <selector ng-drag="player.selecting" ng-drag-data=""></selector>
      <player player="player" ng-drop="player.selecting" ng-drop-success="select({selector: $data, selectee: 'self'})"></player>
    </div>
    <div class="hand">
      <card ng-repeat="card in player.hand" class="hand-card small" card="card" ng-drag-data="card" ng-drag="player.turn && card.cost <= player.mana" ng-drag-success="summon($data, $event)"></card>
    </div>
    <div class="extra">
      <h3><strong>Mana: {{ player.mana }}</strong></h3>
      <button class="btn-success" ng-click="endTurn()" ng-show="player.turn">End Turn</button>
      <button class="btn-success" ng-click='leave()'>Leave game</button>
    </div>
  </div>
</div>
</section>
