<div class="text-center top">
  <h2>Choose a deck</h2>
  <select style="color:black;" ng-model="selectedDeck">
    <option style="color:black;" ng-repeat= "deck in decks" value="{{deck._id}}">{{deck.name}}
    </option>
  </select>
  <button class="btn btn-sm btn-default" ng-click="selectDeck()">Select</button>
</div>

<div class="text-center top container" style="background-color:grey;">
  <h3>ALL CARDS</h3>

</div>


<div class="container pull-right col-xs-2">
  <h5>{{deckName | uppercase}}</h5>
  <div style="text-align: left" ng-repeat="card in cards">{{card.name}}</div>
</div>
<div ng-show="showCards">
  CARDS: {{total}}/30 <br>
  DECK: {{deckName | uppercase}} <br>
</div>
<canvas id="clients" width="400" height="400"></canvas>
