<span popover="Abilities: " style="background-image: url('/images/cardhidden.jpeg');”"></span>
<div class="cost"><p>{{ card.cost }}</p></div>
<div class="text">
  <div class="content"><div class="name">-{{ card.name }}-</div>
  <div class="description">{{ card.description }} 
  	<span ng-if="card.logic.taunt">Taunt</span>
  	<span ng-if="card.logic.divineShield">DivineShield</span>
  	<span ng-if="card.logic.charge">Charge</span>
  	<span ng-if="card.logic.battlecry">Charge</span>
  	<span ng-if="card.logic.windfury">Windfury</span>
  </div></div>
</div>
<div class="ap-hp"><p>{{ card.ap }} | {{ card.hp }}</p></div>
</span>
