<div class="container">
  <div class="text-center top"><h3> Best Card Game Ever </h3></div>
    <div class="text-center top">
      <span ng-repeat="option in options">
        <button class="btn btn-primary" ui-sref="{{option.sref}}">
        {{option.name}}
        </button>
      </span>
    </div>


</div>
<div class ="col-lg-4" sltye="text-align:right;">
  <chat></chat>

</div>

<div class="col-lg-3">
  <span  ng-show=" user.packs > 0" ng-click="openPack()" style="cursor:pointer"> you have {{user.packs}} waiting to be opened. Click here to open your packs </span>

  <div ng-show="showPack">
    <span style="cursor:pointer;" ng-click="showPack = !showPack">x</span>
    <div ng-repeat="showCard in showCards">
      <div class="card">
        <p>{{showCard.name}}</p>
        <p>{{showCard.description}} </p>

        </p>

      </div>
    </div>


  </div>



</div>
