<div class="container">
  <div class="text-center top"><h3> Best Card Game Ever </h3></div>
    <div class="text-center top">
      <span ng-repeat="option in options">
        <button class="btn btn-primary" ui-sref="{{option.sref}}">
        {{option.name}}
        </button>
      </span>
    </div>


</div>
<div class ="col-lg-3" sltye="text-align:right;">
  <chat></chat>

</div>

<div class="text-center top col-lg-3">
  <div  ng-show=" user.packs > 0" ng-click="openPack()" style="cursor:pointer">
    <br>
   Click <strong>HERE</strong> to open your packs </div>

  <div ng-show="showPack">
    <span style="cursor:pointer;" ng-click="showPack = !showPack">toggle show/hide pack</span>
      <div class="card">
        <div class="text-center top col-md-8" style="overflow: scroll; width: 1000px; height: 700px;">

        <card card="showCard" ng-repeat="showCard in showCards"></card>



        </p>

    </div>


  </div>



</div>
