<section id="home">
  <fullstack-logo></fullstack-logo>
  <h1 class="text-success"><strong>Windfury</strong></h1>
  <h3>
    <small>A fast-paced strategy card game for everyone.<br>
      Deceptively Simple. Insanely Fun.
    </small>
  </h3>
  <br>
  <div ng-hide="user" class="text-center top">
    <button class="btn btn-success btn-lg" ui-sref="login">Login</button>
  </div>
  <div ng-show="user" class="text-center top">
    <span ng-repeat="option in options">
      <button class="btn btn-success" ui-sref="{{option.sref}}">{{option.name}}</button>
    </span>
  </div>
</section>
<!--
<div class ="col-lg-3" sltye="text-align:right;">
  <chat></chat>
</div>
 -->

<modal-dialog show="modalShown" width='900px' height='40%'><br><br>
  <span ng-repeat="usercard in lastFiveCards">
    <flippy
    class="fancy"
    ng-click="flip()"
    ng-mouseenter="flip()"
    ng-mouseleave="flip()"
    flip-duration="800"
    timing-function="ease-in-out">
        <flippy-front>
          <cardback></cardback>
        </flippy-front>
        <flippy-back>
          <card card="usercard" style="width:170px; height:270px;"></card>
        </flippy-back>
    </flippy><tb><tb>
  </span>
</modal-dialog>
<div class="text-center top col-lg-3" ng-show="user.packs > 0" style="cursor:pointer"><br>
    <h4>Open packs <span ng-click="openPack()"><strong><br>HERE</strong></span></h4>
</div>
