card, blank-card {
  &.small{
    font-size: 8px;
    border-radius: 8px;
    width: 100px;
    height: 150px;
    .text .content .name {
      font-size: 10px;
    }
  }
  box-shadow: 0 0 1em #999;
  font: 15px Monaco;
  border-radius: 15px;
  margin: 0 10px;
  display: none;
  background-color: #00A388;
  color: white;
  width: 200px;
  height: 300px;
  text-align: center;
  .cost, .ap-hp {
    p {
      @include vertical-align();
    }
    position: relative;
    clear: both;
    width: 35%;
    height: 12%;
    margin: 0 auto;
    background-color: #BEEB9F;
    padding:5px;
    color: #00A388;
  }
  .text {
    .content {
      @include vertical-align();
    }
    height: 76%;
    padding: 5%;
    .name {
      font-size: 20px;
      text-transform: uppercase;
    }
  }
  &.selected {
    border: 1px solid #BEEB9F;
  }
}

blank-card .text {
  height: 100%;
}
