card, blank-card {
  position: relative;
  width: 200px;
  height: 300px;
  .absolute {
    position: absolute;
    background-size: contain;
    content: '';
  }
  .shadow {
    width: 5%;
    height: 3.3333%;
  }
  .cost-shadow {
    background-image: url('./images/cost-shadow.gif');
    top: 5%;
    left: 0
  }
  .ap-hp-shadow {
    background-image: url('./images/ap-hp-shadow.gif');
    top: 5%;
    right: 0
  }
  .name-shadow {
    background-image: url('./images/name-shadow.gif');
    top: 46.666666667%;
    left: 0
  }
  .background {
    background-color: #00A388;
    left: 5%;
    height: 100%;
    width: 90%;
    box-shadow: 0 0 0.5em #999;
    border-radius: 15px;
  }
  .cost-bg {
    width: 15%;
    height: 16.6666667%;
    left: 0;
    top: 8.3333%;
  }
  .cost-box {
    background-color: #ed494c;
    width: 100%;
    height: 60%;
    left: 0;
    top: 0;
  }
  .cost-triangle {
    background-image: url('./images/cost-triangle.gif');
    width: 100%;
    height: 40%;
    left: 0;
    top: 60%;
  }
  .ap-hp-bg {
    right: 0;
    top: 8.3333%;
    width: 15%;
    height: 26.6666667%;
  }
  .ap-hp-box {
    background-color: #ed494c;
    width: 100%;
    height: 75%;
    right: 0;
    top: 0;
  }
  .ap-hp-triangle {
    background-image: url('./images/ap-hp-triangle.gif');
    width: 100%;
    height: 25%;
    right: 0;
    top: 75%;
  }
  .name-bg {
    width: 100%;
    height: 8.3333333%;
    left: 0;
    top: 160px;
    overflow: hidden;
  }
  .name-box {
    background-color: #1695a3;
    width: 87.5%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .name-triangle {
    background-image: url('./images/name-triangle.gif');
    width: 12.5%;
    height: 100%;
    right: 0;
    top: 0;
  }
  .name-text {
    left: 3%;
    top: 30%;
  }
  .description-box {
    background-image: url('./images/grid.png');
    // background-color: red;
    width: 82.5%;
    height: 33%;
    top: 58.333333333%;
    left: 5%;
  }
  @include noselect();
  cursor: pointer;
  &.small{
    margin: 0 10px;
    font-size: 8px;
    .background {
      border-radius: 6px;
    }
    width: 100px;
    height: 150px;
    .text .content .name {
      font-size: 10px;
    }
  }
  display: none;
  font: 15px Monaco;
  color: white;
  text-align: center;
  &.selected {
    border: 1px solid #BEEB9F;
  }
  &.manage-deck {
    margin: 10px;
  }
}

blank-card .text {
  height: 100%;
}
