#gameboard {
  color: black;
  background-color: white;
  width: 1200px;
  height: 600px;
  padding: 0;
  margin: 0 auto;
  #table {
    content: "";
    height: 400px;
  };
  #summoned, #opponent-summoned {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  };
  #initial {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -600px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 1200px;
    height: 600px;
    margin: 0 auto;
  };

  #player, #opponent {
    display: flex;
    justify-content: center;
    height: 100px
  }
  #player {
    align-items: flex-start;
    .hand {
      padding-top: 25px;
    }
  }
  #opponent {
    align-items: flex-end;
    .hand {
      padding-bottom: 25px;
    }
  }
  .player-info {
    display: flex;
    justify-content: flex-end;
    width: 200px;
  }
  .hand {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 800px;
    text-align: center;
  }
  .extra {
    width: 200px;
  }
  overflow: hidden;
}
