minion {
  font: 15px Monaco;
  display: inline-block;
  border-radius: 50px/65px;
  background-color: #FF6138;
  margin: 10px;
  width: 100px;
  height: 130px;
  text-align: center;
  .content {
    @include vertical-align();
  }
}
