minion {
  @include noselect();
  position: relative;
  cursor: pointer;
  font: 10px Monaco;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 50px/65px;
  margin: 10px;
  width: 100px;
  height: 130px;
  overflow: hidden;
  text-align: center;
  color: white;
  .content {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: auto;
    };
    .text {
      position: relative;
      top: 100px;
      background-image: url('./images/grid.png');
    }
  }
}
