player {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: 10px;
  text-align: center;
  border-radius: 70%;
  .content {
    @include vertical-align();
    text-transform: uppercase;
  }
  .name {
    background-color: #eb4b50;
  }
}
