player {
  position: relative;
  width: 150px;
  height: 94px;
  display: block;
  // overflow: hidden;
  .stats {
    position: relative;
    top: -67px;
    left: 98px;
    img {
      height: 20px;
      width: auto;
    }
    .mana {
      margin-left: 3px;
      .mana-img {
        margin-right: 5px;
      }
    }
  }
  .sword {
    position: absolute;
    top: 37px;
    left: -10px;
    img {
      width: 94px;
      height: auto;
    }
  }
}
